 /*Define Your Custom CSS*/
.header {
z-index: 1 !important;
}

body {
  padding-right:0px !important;
}

h3 span.h-span{
    font-size: 1.50rem;
    color:#fff;
}

.info-section  ul   li span.h-span   {
    font-size:1.0em;
    color:#fff;
}

h2 span.h-span {
    color:#fff;
}

.event{
    margin:20px;
    padding:10px;
}

.navbar .xepan-brand img {
    width:120px;
    height:120px;
      border-radius:100%;
}
    
    .navbar-brand-wrapper{
       width:180px;
    }
    
.formwala-course-single a  h3{
    width:250px;
}


.register-form h2{
    font-weight:normal;
    font-style:italic;
}

.flip-container {
  perspective: 1000;
  display: inline-block;
}

.flip-container a h3{
    color:#fff;
}

.flip-container:hover .card {
  transform: rotateY(180deg);
}
.card, .front, .back {
  width: 250px;
  height: 200px;
}
.card {
  transition: 0.5s;
  transform-style: preserve-3d;
  position: relative;
  margin:0 auto;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
}

.front  img,  .back img {
    border-radius:50%;
    width:200px;
    height:200px;
}

.back {
  z-index: 1;
  transform: rotateY(180deg);
  
}

.front {
  z-index: 2; /* back side, placed above front */
  transform: rotateY(0deg);
}

#xepan-6b64d5cb-9819-468e-cb36-c9f934c2fd78 ,#xepan-083be375-8702-43a0-a438-0260969355db, .navbar{
margin-bottom:0px !important;
}

.header{
    padding-top:0px !important;
    padding-bottom:0px !important;
}

#xepan-boostrap-ul li a:hover{
    background-color:#e79800;
      padding:5px;
      color:#fff !important;
}

.our-process h2, .call-to-action h2{
color: #f06022 !important;
} 

.button .secondary {
    background-color: #f06022 !important;
}

.link-section .flip-container  a  h3, .link-section .flip-container .back p a{
    color:#000;
}

.application-form .panel-default .panel-heading {
    background-color:#25607e !important;
    font-weight:bold;
    text-align:center;
    color:#fff !important;
}

.application-form #c132539f__form_form_submit{
    width:100px !important;
    margin:0  auto;
      background-color:#f06022;
      border: 1px solid #f06022;
}

.application-form .atk-form-row #c132539f__form_view_address {
  height:0px;
}

.field-error-text, .section-title ul li {
  color:red;
}

.marque-text p{
  color:#fff;
  padding:10px 0;
}


.information-boxes .courses-info,.information-boxes .faculty-info{
  min-height:145px !important;
}

#slideout-1 {
      position: fixed;
      top: 220px;
      left: 0;
      width: 35px;
      padding: 12px 0;
      text-align: center;
      /*background: #e79800;*/
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-border-radius: 0 5px 5px 0;
      -moz-border-radius: 0 5px 5px 0;
      border-radius: 0 5px 5px 0;
          z-index:9999;
    }

    #slideout_inner-1 {
      position: fixed;
      top: 100px;
      left: -280px;
      background: #000;
      width: 250px;
      padding: 25px;
      height: 470px;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      text-align: left;
      -webkit-byyorder-radius: 0 0 5px 0;
      -moz-border-radius: 0 0 5px 0;
      border-radius: 0 0 5px 0;
      z-index:9999;
      
    }

    #slideout_inner-1 textarea{
      width: 190px;
      height: 20px;
      margin-bottom: 6px;
    }

   
#slideout_inner-1 label {
      
  		color:white!important;
    }

	#slideout_inner-1 label span {
      color:#fff !important;
	}

	#slideout_inner-1 button {
      background-color:#e68a00;
      padding:5px;
      margin:5px 0;
      border-radius:3px;
      color:#fff;
   }

    #slideout-1:hover {
      left: 250px;
    }

    #slideout-1:hover #slideout_inner-1 {
      left: 0;
    }
#slideout_inner-1 radio{
	float:left!important;
  	text-align:left!important;
}

.footer-social-icons{
  margin:0px 975px 0px !important;
}

.footer-social-icons .xepan-cms-icon {
  border-radius:5px;
}
 
.teacher-links .small-button{
  display:none !important;
}


.select2-selection{
  margin-bottom: 20px !important;
  display: block;
  height: 2.4375rem !important;
 border: 1px solid #cacaca;
 margin: 0 0 1rem;
 font-size: 1rem;
 color: #0a0a0a;
  background-color: #fefefe;
 box-shadow: inset 0 1px 2px hsla(0,0%,4%,.1);
 border-radius: 0;
 transition: box-shadow .5s,border-color .25s ease-in-out;
 -webkit-appearance: none;
 -moz-appearance: none;
}
.select2-container--default .select2-selection--single{
  background-color: #fefefe !important;
  border-radius:0px !important;
  border: 1px solid #cacaca !important;
 	margin: 0 0 1rem !important;
 	font-size: 1rem !important;
}

@media only screen and (max-width: 400px) {
    .navbar-brand-wrapper {
        width:300px;
      	max-width:300px;
    }
}

marquee{
  height:40px !important;
}

.custom-form button, .enquiry-form button{
  padding:10px;
  background-color:#e68a00;
  color:white;
  font-weight:bold;
  
}

.header #xepan-boostrap-ul li:nth-child(odd) {
  padding:5px;
  font-weight:bold;
  \\border-bottom-left-radius: 15px;
  \\border-bottom-right-radius: 15px;
}

.header #xepan-boostrap-ul li:nth-child(even) {
  padding:5px;
  font-weight:bold;
  \\border-bottom-right-radius: 15px;
}

.navbar-nav>li>a {
  padding:5px !important;
}

.header #xepan-boostrap-ul li a {
  color:#e79800;
}

.header .navbar-right {
  padding-top:20px !important;
}

.info-section .owl-stage img {
  border-radius:0% !important;
}

.info-section .teacher .teacher-thumb {
  border:0px !important;
}

.seminar-events,.footerTop,.bg-image {
  padding:0 !important;
}

.event-column {
  background-color:rgba(0,0,0,0.8) !important;
}

 .bg-white {
   background-color:rgba(255,255,255,0.8) !important;
}

.footer-column{
  background-color:rgba(0,0,0,0.8) !important;
}

 .blogs {
  margin-left: 40px !important;
}

.footerTop .row {
  width:100%;
  max-width:100%;
  margin:0;
}

.section-title-wrapper::after {
  content:"\8124" !important;
}
  .new-members  .blog .row .col-md-12 a img{
      width: 40px !important;
      height: 40px !important;
      border-radius :5px !important;
  }

.matrimonial-male .profile-img, .matrimonial-female .profile-img,
.new-members-list .profile-img,
.condolence-list .teacher-thumb img {
  border-radius:50% !important;
  height:180px !important;
  width:100% !important;
  border: 3px solid #e79802 !important;
}

.profile-list .profile-wrapper .person-img {
  border-radius:50% !important;.
  height:150px !important;
  width:150px !important;
}

.my-profile .profile-wrapper .person-img {
  border-radius:50% !important;.
  height:200px !important;
  width:200px !important;
  border:1px solid #eee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.members-list .profile-img {
  border-radius:50% !important;.
  height:100px !important;
  width:100px !important;
}

.members-list thead, .members-list thead th span {
  background-color:#e79802 !important;
  color:#fff !important;
  border:1px solid #e79802 !important;
}

.members-list thead th {
  text-align:center !important;
} 

.members-list tbody tr td {
  text-align:center !important;
  border-bottom:1px solid #eee !important;
}

.members-list tbody .even {
  background-color:#f8f8f8 !important;
}

.table-responsive table, .bank-details, .profile-list  {
  border:1px solid #eee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.members-list table tbody tr {
  min-height:100px !important;
}

.bank-details table {
  width:568px !important;
}
  
.executive-members .profile-img {
  border-radius:50% !important;
  height:250px !important;
  width:100% !important;
  border: 3px solid #e79802 !important;
}

.matrimonial-section .matrimonial-male .profile-img, .matrimonial-section .matrimonial-female .profile-img {
  border-radius:50% !important;
  height:200px !important;
  width:100% !important;
  border: 3px solid #e79802 !important;
}

.profile-list .profile-description, .profile-list .profile-wrapper {
  padding:10px  !important;
  background-color:#f8f8f8 !important;
  min-height:180px;
  border:2px solid #eee;
  border-bottom: 1px !important;
}

.profile-list .profile-description {
  border-left:2px !important;
}

.new-members-list .our-teachers, .executive-members .our-teachers {
  text-align:center;
}

.matrimonial-male .person-name, .matrimonial-female .person-name {
  color:#fff;
  text-align:center;
  font-weight:none !important;
}

.matrimonial-section .matrimonial-male .person-name, .matrimonial-section .matrimonial-female .person-name {
  color:#000;
  text-align:center;
}

.newspaper-section .row span img {
  height:300px!important;
  width:100%!important;
}
.event-post  span img{
 height:300px!important; 
}

.small.dropdown-menu{
 
  margin-left:410px!important;
  
}
.small.dropdown-menu li a{
 color:black;
  
}
.topBar ul li{
  display:block!important;
  padding:0px !important;
  text-align:center !important;
}
.jssocials-shares{
  display:none!important;
}


.my-profile table tbody tr:nth-child(2n) {
  background-color:#fff !important;
}

.my-profile table tbody tr td {
  border-top:0px !important;
  width:100px !important;
  text-align:center !important;
}

.my-profile .profile-description {
  margin-bottom:10px !important;
}

.my-profile table {
   width:865px !important;
}

.member-profile .col-lg-4 img{
  border-radius:50%!important;
  border:2px solid #e68a00!important;
  width:180px!important;
  height:180px!important;
  margin-left:30px!important;
  margin-top:15px!important ;
  
}


.member-profile .col-lg-4{
  border:1px solid white!important;
  border-bottom:5px solid #e68a00!important;
  margin-bottom:20px !important;
  border-top:5px solid #e68a00!important;
  box-shadow: 5px #f1f1f1!important;
  background-color:#f2f2f2!important;
  border-radius:0 10% 0 10%;
  min-height:400px !important;
  width:24%!important;
  margin-right:10px!important;
}

div.widget.categories h3{
	margin-left:30px!important;
}
div.newspaper-img{
  text-align:center!important;
}
.list-type {
    display: none!important;
}

\\.enquiry-form{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #eee;
}

.enquiry-form .textbox{
  border-bottom: 1px solid #dddddd !important;
}

.enquiry-form {
   border: 1px solid #dddddd !important;
   padding:0px !important;
}

.enquiry-form button {
  width:100% !important;
  text-align: center !important;
}

.enquiry-form form {
  padding:10px !important;
}
  


.item-size div p{
	height: 150px;
  	width:100px;
 
}
.item-size div{
	overflow:hidden;
}

.newspaper-img a{
	background-color:#e68a00!important;
  	color:white;
}
.section-title ul{
  list-style:none!important;
}

.profile-form .atk-button{
 		background-color:#e68a00!important;
  		color:white!important;
  		padding:10px!important;
  		border-radius:10%!important;
  		width:30%!important;
}
.member-profile ul.pagination{
  margin-top:5px!important;
  text-align:center!important;
 
}
.input-group-addon{
 height:10px!important; 
}
  
.gallery-image img {
	height:250px;
  	width:320px;
}
.news-post .post-content {
  height:300px !important;
  overflow:hidden !important;
}
.condolence-list .teacher-meta{
   height:296px !important;
  overflow:hidden !important;
  
}
.footer-blog .col-lg-6 {
  height:215px !important;
  overflow:hidden !important;
  
}
.news-post img{
 height:156px !important;
 width:246px !important;
}
.event1-post .event{
  height:290px!important;
  width:518px !important;
  overflow:hidden !important;
}

.input-group input{
	margin : 0 0 0rem!important;
}
.member-profile .col-lg-4  .pb_edit{
 
 
  margin-bottom:2px !important;
  width:30% !important;
  border-radius:10% !important;
  border: 2px solid white !important;
 	background-color:#22A7F0 !important;
  
}
.member-profile .col-lg-4 .pb_edit i{
 color:white !important;
  
}
.member-profile .col-lg-4 .person-status{
 float:right !important;
  
  
  text-align:center !important;
	
width: 70px !important;
height: 25px;
  -webkit-transform: rotate(30deg)!important;
  -moz-transform:    rotate(30deg)!important;
  -ms-transform:     rotate(30deg)!important;
  -o-transform:      rotate(30deg)!important;
position: relative !important;
background-color:#e68a00 !important;
  color:white !important;
  left: 15px;
  top: 10px;
 
  border-radius: 0 10% 0 0 !important;
 
  
}
.member-profile .col-lg-4 p.person-address{
 width:250px !important;
  white-space:nowrap !important;
  overflow: hidden !important;
  text-overflow:ellipsis!important;
}


