<div id="{$_name}" style="{$style}" class="{$class} row">
   {rows}{row}
   <div class="blog">
         <div  class=" col-md-6 col-sm-12 col-xs-12 col-lg-6" >
<div class="our-teachers module xepan-component" style="display: block; margin-bottom: auto;" id="xepan-7633d1f2-6aa3-4a56-b937-68e1a740b78d">

                     <div class="teacher-thumb">
                        {image_wrapper}<img alt="Teacher Doe" src="{$image}"><!-- teacher links /-->{/} 
                     </div>
                     <div class="teacher-meta">
                        {title_wrapper}
                        <h3>{$title}</h3>
                        {/}
                        {description_wrapper}
                        <p>{$description}</p>
                        {/}
                     </div>
                  </div>
               </div>
   </div>

   {$micro_data}
   {/}{/}
   {not_found}
   <div role="alert" class="full-width alert alert-warning"><strong class="glyphicon glyphicon-warning-sign">&nbsp;Warning!<span>&nbsp;{$not_found_message}</span></strong></div>
   {/}
   {paginator_wrapper}
   <div style="float:none; clear:both" class="xshop-item-paginator">{$Paginator}</div>
   {/}	
</div>