<div class="row {$class}" id="{$_name}" style="undefined {$style}">
                
                <div class="posts-wrapper">
                    
                    {rows}{row}<div class="medium-4 small-12 column "  >
                        <div class="post">
                            {image_wrapper}<div class="post-thumb">

									<a href="{$url}" class="">
	                            	<img src="{$image}" alt="My Blog post"></a>    
                            </div>{/}
<!-- Thumb /-->
                            {description_wrapper}<div class="post-content " >
                            	{title_wrapper}<h4 class=""><a href="{$url}">{$title}</a></h4>{/}
                                
                                <p class="">{$description}</p>
                            </div>{/}
<!-- post content /-->
                        </div>
<!-- Post /-->
                	</div>{/}{/}{not_found}<div role="alert" class="full-width alert alert-warning"><strong class="glyphicon glyphicon-warning-sign">&nbsp;Warning!<span>&nbsp;{not_found_message}Not Matching Record Found{/}</span></strong></div>{/}{paginator_wrapper}{$Paginator}{/}






<!-- Post column /-->
                    
                    
<!-- Post column /-->
                    
                    
<!-- Post column /-->
                    
                </div>
<!-- Posts Wrapper /-->
                
                <div class="load-more text-center">
                	<a href="news" class="button primary bordered-dark xepan-component" id="xepan-322c65fe-bffb-461b-9a54-414b1da1994f" xepan-component="xepan/cms/Tool_Button" xepan-button-label="Load More..." xepan-button-link="#">Load More...</a>
                </div>
<!-- Load more /-->
                
            </div>